@model IEnumerable<BusinessLogic.DTOs.GenreDTO>

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewData["Title"] = "Genres";
}

<div class="cinema-main">
    <h2>Жанри</h2>
    <p>
        <a asp-action="Create" class="btn btn-primary">Додати новий жанр</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Назва жанру</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="--row-index: @Model.ToList().IndexOf(item)">
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Редагувати</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Деталі</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Видалити</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>