@model BusinessLogic.DTOs.MovieDTO

@{
    Layout = "~/Views/Shared/MinimalLayout.cshtml";
    ViewData["Title"] = "Delete";
}


<h3>Ви впевнені, що хочете видалити це?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Назва фільму
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Режисер
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class="col-sm-2">
            Тривалість
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            Акторський склад
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cast)
        </dd>
        <dt class="col-sm-2">
            Жанр
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GenreName)
        </dd>
        <dt class="col-sm-2">
            Дата виходу
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            Опис
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Мінімальний вік
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinAge)
        </dd>
        <dt class="col-sm-2">
            Рейтинг
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            Статус
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusName)
        </dd>
        <dt class="col-sm-2">
            Посилання на постер
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PosterURL)
        </dd>
        <dt class="col-sm-2">
            Посилання на трейлер
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrailerURL)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до списку</a>
    </form>
</div>
