@model BusinessLogic.DTOs.SessionDTO
@{
    Layout = "~/Views/Shared/MinimalLayout.cshtml";
}

<!DOCTYPE html>

<div>
    <h4>Сеанс</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Назва фільму
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => Model.MovieName)
        </dd>
        <dt class="col-sm-2">
            Дата сеансу
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            Час початку
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class="col-sm-2">
            Назва залу
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomName)
        </dd>
        <dt class="col-sm-2">
            Ціна квитка
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Відредагувати</a> |
    <a asp-action="Index">Назад до списку</a>
</div>
